* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  background-color: rgba(254, 231, 189, 255);
}
#landing-image {
  width: 55vw;
  height: 100vh;
  z-index: 1;
  position: relative;
  overflow: hidden;
  object-fit: contain;
}
.signup {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: absolute;
  justify-content: center;
  align-items: center;
  right: 58%;
  top: 75%;
  z-index: 2;
  margin: 0;
  padding: 0;
}
.button {
  font-size: x-large;
  font-weight: 700;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: black;
  color: white;
  padding: 15px;
  border: 2px solid black;
  border-radius: 20px;
  cursor: pointer;
  position: absolute;
  transition: all 0.5s ease-in-out;
}
.button:hover {
  background-color: #2ef107 !important;
  color: black;
  transform: scale(1.1);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}
.text {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 20px;
  font-weight: 900;
  padding: 10px;
  color: rgb(0, 0, 0);
  position: relative;
  top: 130px;
}
.signin {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: absolute;
  justify-content: center;
  align-items: center;
  left: 58%;
  top: 75%;
  z-index: 2;
  margin: 0;
  padding: 0;
}
@media screen and (max-width: 640px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .container {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    background-color: rgba(254, 231, 189, 255);
  }
  #landing-image {
    width: 100vw;
    height: 100vh;
    z-index: 1;
    position: relative;
    overflow: hidden;
    object-fit: contain;
  }
  .signup {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    justify-content: center;
    align-items: center;
    right: 220px;
    top: 470px;
    z-index: 1;
    margin: 0;
    padding: 0;
  }
  .button {
    font-size: 16px;
    font-weight: 500;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
    background-color: black;
    color: white;
    padding: 10px;
    border: 2px solid black;
    border-radius: 20px;
    cursor: pointer;
    position: absolute;
    transition: all 0.5s ease-in-out;
  }
  .button:hover {
    background-color: #2ef107 !important;
    color: black;
    transform: scale(1.1);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  }
  .text {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
    font-size: 14px;
    font-weight: 900;
    padding: 10px;
    color: rgb(0, 0, 0);
    position: relative;
    top: 69px;
  }
  .signin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    position: absolute;
    top: 470px;
    right: 40px;
  }
}
