/* GLOBAL RESETS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* GLOBAL ANIMATIONS */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes blink {
  50% {
    border-color: transparent;
  }
}
@keyframes bounceIn {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  60% {
    transform: scale(1.3);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}

/* MOBILE */
body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: rgba(254, 238, 204, 255);
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
#image {
  width: 100%;
  padding: 10px;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.heading {
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 30px;
  white-space: nowrap;
  overflow: hidden;
  border-right: 4px solid black;
  animation: typing 1s steps(25), blink 0.8s step-end infinite alternate;
}

.input {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  max-width: 350px;
}

.input-field {
  height: 50px;
  font-size: 16px;
  background-color: beige;
  color: black;
  padding-left: 10px;
  border: 2px solid black;
  border-radius: 7px;
  font-weight: 500;
  transition: transform 0.2s ease;
}
.input-field:focus {
  transform: scale(1.02);
}

.button {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
#button {
  font-size: 16px;
  padding: 10px 20px;
  cursor: pointer;
  border: 2px solid black;
  border-radius: 20px;
  background-color: rgb(245, 247, 248);
  font-weight: bold;
}

.messages {
  margin-top: 15px;
  width: 90%;
  max-width: 400px;
  text-align: center;
  font-weight: bold;
  border-top: 1px solid black;
  padding-top: 10px;
}
#error-msg {
  color: red;
}
#success {
  color: green;
}

/* ------------------------------ */
/* RESPONSIVE FOR LAPTOP SCREENS */
/* ------------------------------ */
@media screen and (min-width: 1024px) {
  body {
    display: flex;
    height: 100vh;
    overflow: hidden;
    background-color: rgba(254, 238, 204, 255);
  }

  .image-container {
    flex: 1;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  #image {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .container {
    flex: 1;
    background-color: rgba(255, 238, 204, 255);
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    z-index: 2;
  }

  .heading {
    font-size: 50px;
    margin-bottom: 30px;
  }

  .input {
    width: 100%;
    gap: 15px;
  }

  .input-field {
    width: 90%;
    font-size: 20px;
  }

  #button {
    margin-top: 20px;
    font-size: 20px;
    padding: 10px 30px;
  }

  .messages {
    width: 90%;
    margin-top: 20px;
    font-size: 25px;
  }
}
