* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: url("../images/todo-interface.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 95%;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.grandpa {
  width: 700px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  position: relative;
  height: 570px;
  display: block;
  margin-top: 100px;
  margin-left: 100px;
  /* border: 3px solid black; */
}
.parent-element {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.heading {
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 2px 2px;
  font-size: 60px;
  overflow: hidden;
  white-space: nowrap;
  border-right: 4px solid black;
  animation: typing 2s steps(25), blink 0.5s step-end infinite alternate;
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}
.input {
  margin-top: 35px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 20px;
}
.input-field {
  width: 500px;
  height: 69px;
  font-size: xx-large;
  background-color: beige;
  color: black;
  padding-left: 10px;
  border: 3px solid black;
  border-radius: 7px;
  font-weight: 500;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  transition: transform 0.2s ease;
}
.input-field:focus {
  transform: scale(1.02);
}
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.1s ease, box-shadow 0.1s ease;
}
.button:active {
  transform: scale(0.8);
  box-shadow: 0 9px 6px rgba(0, 0, 0, 0.2);
}
#button {
  font-size: xx-large;
  padding: 10px;
  margin-top: 10px;
  cursor: pointer;
  border: 2px solid black;
  border-radius: 20px;
  background-color: rgb(245, 247, 248);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
@keyframes bounceIn {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  60% {
    transform: scale(1.3);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}

.animated-bounce {
  animation: bounceIn 0.7s ease-out;
}

.messages {
  margin-top: 15px;
  width: 600px;
  border-top: 0.1px solid black;
  display: flex;
  justify-content: center;
  padding-left: 4px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: bold;
}
#error-msg {
  color: red;
  font-size: x-large;
}
#success {
  color: green;
  font-size: large;
}
